.confirmation_circle {
  width: 60px;
  border-radius: 60px;
  height: 60px;
  color: #fff;
  line-height: 60px;
}

.confirmation_print {
  font-family: NeueHaasGroteskDisplay;
}

.color .color-box {
  width: 16px;
  height: 16px;
}

.activationFees {
  font-weight: 400;
  float: left;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.m-cpcPlanArrow .arrowCTA:after {
  font-family: 'vzwIcons';
  top: 5px;
  content: "\E607";
}

.expanded .m-cpcPlanArrow .arrowCTA:after {
  font-family: 'vzwIcons';
  content: "\E608";
  top: 0;
}

.confirmation .pageBanner a {
  text-decoration: underline;
}

.confirmation .listBorder {
  border: 1px solid #d8dada;
}

.minHeigth120 {
  min-height: 120px,
}

.deviceDescription {
  flex-basis: 55.4166665% !important;
  max-width: 55.4166665% !important;
}

.devicePrices {
  flex-basis: 44.5833335% !important;
  max-width: 44.5833335% !important;
}

.bicPromoTag:before {
  left: 0;
}

.confirmation .fios span.prxCheckMark {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.confirmation .fios span.prxCheckMark:after {
  top: 5px;
  margin-left: -5px;
}

.confirmation .headsup_logo {
  width: 12px;
  height: 12px;
  background: transparent;
  display: inline-block;
  border: 1px solid #000;
  margin-left: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.confirmation .headsup_logo .logo {
  -webkit-transform: rotate(0deg) !important;
}

.confirmation .promotion_description a:hover {
  color: #FFF;
}

.appleMusicPod {
  background-image: url('https://ss7.vzw.com/is/image/VerizonWireless/apple-music-nse-confirmation-pod?$defaultScale$');
  background-size: cover;
  background-position: right 0;
  min-height: 230px;
}
