.tooltip {
  height: 16px;
  width: 16px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  background-size: 14px;
  background: url("data:image/svg+xml, %3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22d8.0-EUP-Cart%22%20transform%3D%22translate(-396.000000%2C%20-790.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%20transform%3D%22translate(-2.000000%2C%20363.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Item-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22One-time-activation%22%20transform%3D%22translate(228.000000%2C%20408.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Hollow-Tooltip%22%20transform%3D%22translate(170.000000%2C%2019.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Tooltip-Hollow%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22tooltip%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.90133333%2C13%20L7.09866667%2C13%20L7.09866667%2C7.11733333%20L8.9%2C7.11733333%20L8.9%2C13%20L8.90133333%2C13%20Z%20M8.90133333%2C5.14666667%20L7.09866667%2C5.14666667%20L7.09866667%2C3.53066667%20L8.9%2C3.53066667%20L8.9%2C5.14666667%20L8.90133333%2C5.14666667%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23000000%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8%2C0.5%20C3.85733333%2C0.5%200.5%2C3.85733333%200.5%2C8%20C0.5%2C12.1426667%203.85733333%2C15.5%208%2C15.5%20C12.1426667%2C15.5%2015.5%2C12.1426667%2015.5%2C8%20C15.5%2C3.85733333%2012.1426667%2C0.5%208%2C0.5%20Z%22%20id%3D%22Shape-path%22%20stroke%3D%22%23000000%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") no-repeat;
}

.tooltip.white {
  background: url("data:image/svg+xml, %3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22d8.0-EUP-Cart%22%20transform%3D%22translate(-448.000000%2C%20-790.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%20transform%3D%22translate(-2.000000%2C%20363.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Item-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22One-time-activation%22%20transform%3D%22translate(228.000000%2C%20408.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Tooltip-Hollow%22%20transform%3D%22translate(222.000000%2C%2019.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22tooltip%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.90133333%2C13%20L7.09866667%2C13%20L7.09866667%2C7.11733333%20L8.9%2C7.11733333%20L8.9%2C13%20L8.90133333%2C13%20Z%20M8.90133333%2C5.14666667%20L7.09866667%2C5.14666667%20L7.09866667%2C3.53066667%20L8.9%2C3.53066667%20L8.9%2C5.14666667%20L8.90133333%2C5.14666667%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8%2C0.5%20C3.85733333%2C0.5%200.5%2C3.85733333%200.5%2C8%20C0.5%2C12.1426667%203.85733333%2C15.5%208%2C15.5%20C12.1426667%2C15.5%2015.5%2C12.1426667%2015.5%2C8%20C15.5%2C3.85733333%2012.1426667%2C0.5%208%2C0.5%20Z%22%20id%3D%22Shape-path%22%20stroke%3D%22%23FFFFFF%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") no-repeat;
}

.tooltip.blue {
  background: url("data:image/svg+xml, %3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22d8.0-EUP-Cart%22%20transform%3D%22translate(-448.000000%2C%20-790.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%20transform%3D%22translate(-2.000000%2C%20363.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Item-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22One-time-activation%22%20transform%3D%22translate(228.000000%2C%20408.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Tooltip-Hollow%22%20transform%3D%22translate(222.000000%2C%2019.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22tooltip%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.90133333%2C13%20L7.09866667%2C13%20L7.09866667%2C7.11733333%20L8.9%2C7.11733333%20L8.9%2C13%20L8.90133333%2C13%20Z%20M8.90133333%2C5.14666667%20L7.09866667%2C5.14666667%20L7.09866667%2C3.53066667%20L8.9%2C3.53066667%20L8.9%2C5.14666667%20L8.90133333%2C5.14666667%20Z%22%20id%3D%22Shape%22%20fill%3D%22%230088CE%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8%2C0.5%20C3.85733333%2C0.5%200.5%2C3.85733333%200.5%2C8%20C0.5%2C12.1426667%203.85733333%2C15.5%208%2C15.5%20C12.1426667%2C15.5%2015.5%2C12.1426667%2015.5%2C8%20C15.5%2C3.85733333%2012.1426667%2C0.5%208%2C0.5%20Z%22%20id%3D%22Shape-path%22%20stroke%3D%22%230088CE%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") no-repeat;
}

.font-icon_tooltip {
  position: relative;
  display: inline;
  padding: 2px;
  background-size: contain;
  background-color: transparent;
}

.tooltip~.tooltip--container {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  padding: 5px 0;
  left: 42%;
  margin-left: -60px;
  border: solid 1px #000000;
  font-size: 14px;
  line-height: 16px;
  font-family: NeueHaasGroteskDisplay;
  position: absolute;
  z-index: 1000;
  padding: 15px;
  width: 300px;
  /* taken from atg */
  margin-bottom: 22px;
  bottom: 0
}

.tooltip--container.top {
  margin-bottom: 10px;
  bottom: 100%;
}

.tooltip--container.bottom {
  margin-top: 14px;
  top: 100%;
}

.tooltip--container.left {
  margin-top: 8px;
  margin-bottom: -30px;
  bottom: 0;
  margin-left: -306px;
}

.tooltip--container.right {
  margin-top: 8px;
  margin-bottom: -30px;
  bottom: 0;
  margin-left: 24px;
}

.tooltip~.tooltip--container.topLeft::after {
  left: auto !important;
  right: 34px;
}

.tooltip~.tooltip--container.topLeft {
  left: auto !important;
  right: -37px;
}

.tooltip--container.top::after {
  border-width: 0 2px 2px 0;
  margin-top: -4px;
}

.tooltip--container.left::after {
  border-width: 2px 0 0 2px;
  margin-top: -41px;
}

.tooltip--container.right::after {
  border-width: 0 0 2px 2px;
  margin-top: -41px;
  left: 1%;
}

.tooltip--container.bottom::after {
  border-width: 2px 0 0 2px;
  margin-top: -73px;
}

.tooltip:hover~.tooltip--container,
.tooltip.click.active~.tooltip--container {
  visibility: visible;
}

.tooltip--body {
  padding-bottom: 5px;
}

.tooltip--close {
  display: none;
}

.m-noTooltipHdr .tooltip~.tooltip--container .tooltip--header {
  border-top: none;
  padding: 0;
}

a.tooltip {
  text-decoration: none;
}

.font-icon_tooltip.m-tipVAlgin {
  top: 4px;
}

.textTooltip {
  width: auto;
  height: auto;
  background: transparent;
  text-decoration: underline;
}
