
registry = https://oneartifactory.verizon.com/artifactory/api/npm/npm-virtual/
@vz-react:registry=https://oneartifactory.verizon.com/artifactory/api/npm/npm-virtual/
@vzrf:registry=https://oneartifactory.verizon.com/artifactory/api/npm/npm-virtual/
@vztheme:registry=https://oneartifactory.verizon.com/artifactory/api/npm/npm-virtual/
